.Input{
    margin: 10px 40px 10px 0;
    padding: 5px 20px;
    width: 100%;
    height: 30px;
    border: 1px solid #818587;
    border-radius: 3px;
    outline: none;
}
.Input:hover,
.Input:focus {
    border: 1px solid green;
}
.error{
    border: 1px solid red;
}
.city{
    width: 88%;
}
.state{
    width: 88%;
}
.code{
    width: 40%;
}
.unit{
    width: 40%;
}
.email{
    margin: 10px 0 10px 0;
    width: 80%;
    padding: 5px 5px;
}
@media screen and (max-width: 990px){
    .unit{
        width: 90%;
    }
    .city{
        width: 125%;
    }
    .state{
        width: 125%;
    }
    .code{
        width: 125%;
    }
}