.radio{
    display: flex;
    flex-wrap: wrap;
}
.radio label{
    color: #a3b4c2;
    font-weight: bold;
    font-size: 25px;
    display: flex;
}
input[type='radio']{
    display: none;
}
.radio label:hover{
    color: #291843;
    cursor: pointer;
}
input[type='radio']:checked + label{
    color: #291843;
    margin-left: -50px;
}
.icon{
    display: none;
    color: #01bf92;
    font-size: 25px;
}
input[type='radio']:checked + label .icon{
    display: block;
    margin-right: 25px;
}
