.form_task{
    margin: 200px 0 0 0;
}
.question h1{
    margin: 5px 0;
    font-size: 45px;
    width: 850px;
    font-weight: bolder;
    color: hsl(263deg 47% 18%);
    line-height: 1;
}
.question p{
    margin: 25px 0;
}
.input_block{
    display: flex;
}
.input_block p{
    margin: 0;
}
.input_items{
    display: flex;
}
.input_items p{
    margin: 0;
}