/*html, body {height:100vh;}*/
.container{
    max-width: 1200px;
    margin: 0 ;
    padding: 0;
    display: flex;
}
.home_pages{
    display: flex;
}
.home{
    display: flex;
    justify-content: space-between;
}
.right_side_bar{
    margin: 20px 0;
    display: block;
}
.right_side_bar a{
    font-weight: bold;
    text-decoration: none;
    position: fixed;
}
.right_side_bar a:hover{
    text-decoration: underline;
}
.block{
    display: block;
}
@media screen and (max-width: 990px){
    .right_side_bar{
        display: none;
    }
}
